body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  height: 100vh;
}

.main-container{
  height: 100%;
}

.model-header{
  width: 100%;
  /* height: 20%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  position: relative;
  /* background-color: black; */
}

.export-options{
  background-color: hsl(240, 33%, 98%);
  width: 100px;
  padding: 10px 5px;
  top: 100px;
  left: 125px;
  position: absolute;
  list-style: none;
  text-decoration: none;
  border-radius: 5px;
  z-index: 99999;
}

.export-options li{
  font-size: 14px;
  padding: 2px 4px;
  border-radius: 5px;
}

.export-options li a{
  text-decoration: none;
  color: black;
  width: 100%;
  display: inline-block;
}

.export-options li:hover{
  cursor: pointer;
  background-color: hsl(210, 8%, 90%);
}

.model-body{
  height: 88%;
  display: flex;
  flex-direction: row;
}

#properties-panel-parent {
  width: 250px;
  border-left: 1px solid #ccc;
  overflow: auto;
  &:empty {
    display: none;
  }
  > .bio-properties-panel {
    padding-bottom: 70px;
    min-height:100%;
  }
}

#modeler-container{
  /* width: calc(100vw - 450px); */
  width: 100%;
  height: 100%;
  position: relative;
  background: url("https://svgshare.com/i/eGa.svg") center no-repeat;
}

/*Hide BPMN.io at the bottom*/
.bjs-container a.bjs-powered-by{
  display: none ;
}

.hierarchy-sidebar{
  width: 200px;
  border: 1px solid hsl(225, 10%, 75%);
}

.djs-container{
  /* width: calc(100% - 200px) !important; */
  float: right;
}

.djs-palette.two-column.open{
  position: fixed !important;
  top: 20% !important;
  left: 200px !important;
  height: 70%;
}

.hide{
  width: 50px;
}

.sidebar-hidden{
  width: calc(100% - 50px) !important;
  .djs-palette.two-column.open{
    left: 50px !important;
  }
}

.color-picker ul{
  display: flex;
}

.color-picker ul li:not(:last-child){
  border-right: 2px solid hsl(225, 10%, 90%);
}

.color-picker ul li{
  border-radius: 0 !important;
  margin: 0 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.djs-palette-shown .bjs-breadcrumbs{
  left: 5px !important;
}

.djs-container svg{
  vertical-align: top;
}

/* CSS for ICONS */

.entry.bpmn-icon-connection-multi:before {
  content: "";
  display: inline-block;
  height: 20px; 
  width: 20px;  
  background-image: url('https://static-00.iconduck.com/assets.00/connection-multi-icon-477x512-v04k3v0n.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.entry.bpmn-icon-connection-multi:hover:before {
  filter: brightness(0) saturate(100%) invert(28%) sepia(99%) saturate(4094%) hue-rotate(190deg) brightness(102%) contrast(104%);
}

/*CSS for sidebar*/

/*CSS for minimap*/
.djs-minimap{
  border-radius: 5px !important;
  line-height: 15px;
  z-index: 100;
}

.djs-minimap.open .toggle::before{
  content: "X";
}