body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  height: 100vh;
}

.main-container{
  height: 100%;
}

.modeler-header{
  height: 20%;
}

#modeler-container{
  width: 100%;
  height: 80%;
  position: relative;
}

.grid-bg{
  width: 100%;
  height: 100%;
  position: absolute;
}

.djs-palette.two-column.open{
  top: 0 !important;
  left: 0 !important;
  width: 15% !important;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
