/* CSS for toolbar */
.toolbar {
    display: inline-flex;        /* Enable flex layout */
    flex-direction: row;  /* Arrange children in a row */
    background-color: rgba(247,247,248,255); 
    border: none;         /* No border */
    border-radius: 10px;
    padding: 5px;
}

.toolbar div {
    display: flex;
}

.toolbar button {
    width: 40px;
    height: 40px;
    display: flex;        /* Enable flex layout */
    justify-content: center; /* Center content horizontally */
    align-items: center;  /* Center content vertically */
    background: transparent; /* Transparent background */
    border: none;         /* No border */
    transition: background-color 0.3s ease; 
    border-radius: 10px;
}

.toolbar button:hover {
    background-color: #dadada;
  }

.toolbar-spacing {
    width: 40px;
    height: 40px;
    display: flex;        /* Enable flex layout */
    justify-content: center; /* Center content horizontally */
    align-items: center;  /* Center content vertically */
    background: transparent; /* Transparent background */
    border: none;         /* No border */
}

.dropdownExport {
    position: absolute;
    top: 10rem;
    left: 8rem;
    width: 200px;
    /* padding: 15px; */
    /* border-radius: 15px; */
    /* background-color: white;
    border: 1px solid grey; */
    z-index: 9999;
}

.dropdownExport ul,
.dropdownExport li {
    /* margin: 0; */
    padding: 0;
}

.dropdownExport ul {
    list-style-type: none;
    background-color: white;
}

.dropdownExport li {
    padding: 5px;
    /* text-align: left; */
    /* border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey; */
}

.dropdownExport li:hover {
    background-color: #dadada;
  }

.dropdownExport a {
    display: block;
    font-size: small;
}